<header>
    <a href="#" class="logo">Logo</a>
    <ul>
       <li><a href="/mainpage">Recipes</a></li>
       <li><a href="/profile">Profile</a></li>
       <li><a href="/create">Create</a></li>
    </ul>
</header>
<section class="banner"></section>


<h1>Hello {{currentUserInfo.userName}}</h1>

<h2>Detail recipe</h2>

<img src={{recipe.recipeImage}}></img>
<h3>{{recipe.nameRecipe}}</h3>
<h3>{{recipe.typeOfCuisine}}</h3>
<h3>{{recipe.dishType}}</h3>
<h3>{{recipe.difficultyLevel}}</h3>
<h3>{{recipe.numberofportions}}</h3>
<h3>{{recipe.preparationTime}}</h3>
<h3>{{recipe.cookingTime}}</h3>
<h3>{{recipe.ingredients}}</h3>
<h3>{{recipe.method}}</h3>
<h3>{{recipe.linkToTheOriginalRecipe}}</h3>
<h3>{{recipe.notes}}</h3>

<button><a href="/detailrecipe/{{recipe.id}}/editrecipe">Edit recipe</a></button>
<button><a href="/mainpage">Delete recipe</a></button>


<script type="text/javascript">
window.addEventListener("scroll", function(){
    var header = document.querySelector("header");
    header.classList.toggle("sticky", window.scrollY > 0);})</script>
