<header>
    <img src="/images/logo2.png" class="logo">
    <ul>
        <li><a href="/mainpage">Recipes</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/create">Create</a></li>
    </ul>
</header>

<div class="createcontainer">

    <h2>Detail recipe</h2>
    <div class="form-create">
        <div class="recipeimg">
            <img src={{recipe.recipeImage}}></img>
        </div>
        <div class="create-form">
            <h3 class="blog-post_title">{{recipe.nameRecipe}}</h3>

            <p> Type Of Cuisine: {{recipe.typeOfCuisine}}</p>
            <p> Dish Type: {{recipe.dishType}}</p>
            <p> Difficulty: {{recipe.difficultyLevel}}</p>
            <p> Portions: {{recipe.numberofportions}}</p>
            <p> Preparation Time: {{recipe.preparationTime}}</p>
            <p> cooking Time: {{recipe.cookingTime}}</p>
            <p> Link To the Original: {{recipe.linkToTheOriginalRecipe}}</p>
        </div>
        <div class="create-form">
            <h3>Ingredients:</h3>
            <p>{{recipe.ingredients}}</p>
            <h3>Metod: </h3>
            <p>{{recipe.method}}</p>
        </div>
        <div class="create-form">
            <h3>Notes:</h3>
            <p>{{recipe.notes}}</p>
        </div>
        <button><a href="/detailrecipe/{{recipe._id}}/editrecipe" class="blog-post_cta">Edit recipe</a></button>
        <button type="submit"><a href="/detailrecipe/{{recipe._id}}/delete" class="blog-post_cta">Delete
                recipe</a></button>


    </div>

</div>


<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })    
</script>