<header>
    <img src="/images/logo2.png" class="logo">
    <ul>
        <li><a href="/mainpage">Recipes</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/create">Create</a></li>
    </ul>
</header>

<div class="hello">
    <h2>hello {{currentUserInfo.userName}}</h2>
</div>

<div class="bodyprofile">
    <div class="containerprofile">
        <div class="profileimage">
            <img src={{currentUserInfo.userImage}} alt="profilepicture">
        </div>
        <div class="contentprofile">
            <h3 class="nickname">Nick Name: {{currentUserInfo.userName}}</h3>
            <div class="profiletext">
                <p>name: {{currentUserInfo.name}}</p>
                <p>email: {{currentUserInfo.email}}</p>
                <p>About Me: {{currentUserInfo.aboutMe}}</p>

                <form class="profileform" action="editprofile">
                    <button class="button-profile">Edit Profile</button>
                </form>
                <form action="/">
                    <button class="button-profile">LogOut</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>



<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })</script>